.idea
target
bin
.iml
.project
.classpath
.settings
.iws
.ipr
.pyc
.bat
tmp
venv/
__pycache__/
.pytest_cache
.coverage
htmlcov/
html/
.vscode
.tox
*.egg-info/
my-schema.json
checks.csv
teamData.csv
DataIterator.py
testData.csv
testDataIterator.py
.mutmut-cache
*.py.bak
cc.code-workspace
/*.json
/*.csv
.breakpoints
.replit
replit.nix
nohub.out
